.vscode/
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.log
paper/paper.out
paper/paper.pdf
paper/paper.synctex.gz
paper/out/
.nobackup
paper/latex.out/
paper/paper.fdb_latexmk
paper/paper.fls
interviews/**/*.mp4
